body {
    margin: 2.5 px; /* ponto não vírgula*/
    font-family: Arial, sans-serif;
    background-color: #000; /* preto */
    color: #fff;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Se alinha os itens verticalmente */
    padding: 20px;
    background-color: #111;
}

header h1 {
    color: orange;
}
nav {
     text-align: center; /* Corrigido de padding: center */
     color: orange; /* Adiciona os dois pontos */
     font-family:arial;

}
.imagemMetezey {  /* Adiciona o ponto assumindo que é uma classe */
    display: block;
    padding: center;
    background:
}

/* BANNER */
.banner {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(#000,#111);
}

.banner h2 {
    color: orange;
    font-size: 40px;
}
